* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    padding: 50px 100px 50px 100px;
    background: linear-gradient(180deg, rgba(207, 36, 37, 1) 0%, rgb(219, 103, 105) 53%, rgba(207, 36, 37, 1) 100%);
}

header {
    display: flex;
    height: 40px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 2rem;
    overflow: hidden;
}

.content-text-submenu {
    height: 4px;
    width: 70px;
    background-color: white;
    box-shadow: -25px 15px 0px white, -25px -15px 0px white;
    margin-right: 20px;
}

main {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
    flex-grow: 1;
    font-family: 'Montserrat', sans-serif;
    gap: 30px;
}

h1 {
    width: 750px;
    height: 80px;
    font-size: 2.5rem;
    position: absolute;
    color: white;
    padding-right: 500px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    text-align: right;
    margin-right: 20px;
}

@media (max-width: 1326px) {
    body {
        padding-top: 30px;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 20px;
    }
    header p {
        font-size: 1rem;
    }
    main {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    h1 {
        position: unset;
        width: 200px;
        font-size: 1rem;
        padding-right: 0;
    }
    .content-image-garrafa {
        height: 45vh;
    }
}

.coca-cola-background {
    width: 90vw;
    z-index: -1;
    position: absolute;
}

.content-image-garrafa {
    height: 75vh;
    filter: drop-shadow(0px 200px 10px #aa2222);
}

footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    height: 60px;
    width: 100%;
    z-index: 1;
}

footer img {
    height: 100%;
}

footer p {
    font-size: 1rem;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: right;
    position: absolute;
    width: 45px;
    height: 14px;
    left: 1745px;
    top: 893px;
}